<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>LOGO | Hello, friend!</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
		<script src="https://kit.fontawesome.com/cf30b19bdf.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<header class="index-header">
			<img src="{{ url_for('static', filename='hellofriendlogo.svg') }}" class="logo">

			<ul id="nav">
				<li><a href="/nowhere"><i class="fas fa-chart-bar"></i> Basic Statistics</a></li>
				<li><a href="/nowhere"><i class="fas fa-project-diagram"></i> Advanced Statistics</a></li>
				<li><a href="/nowhere"><i class="fas fa-cogs"></i> How do we work?</a></li>
				<li><a href="/nowhere"><i class="fas fa-dharmachakra"></i> About</a></li>
				<li><a href="/nowhere"><i class="fas fa-question"></i> Support</a></li>
			</ul>
		</header>

		<main class="modal-wrapper">
			<section class="modal">
				<section class="modal-left-side">

					<p class="modal-left-side--title">Map and analyze how positive you and your connections are on Twitter</p>
					<small>Assess the online influence of others on your image and reputation.</small>
					<input type="text" id='handle' placeholder="Enter your Twitter handle"/>
					<p class="modal-left-side--sub-title">Let's see what you and your friends are talking about :)</p>
					<button onclick='submitForm();'>Analyze</button>

				</section>
				<section class="modal-right-side">
					<p class="modal-right-side--title">Hello, friend!</p>
					<p class="modal-right-side--subtitle">We are here to help you feel better about yourself while you safely surf the internet and avoid toxic people.</p>

				</section>
			</section>
		</main>
		<script>
			function submitForm(){
				input = document.getElementById('handle');
				handle = input.value;
				post("/eval", {user: handle})
			}

			function post(path, params, method='post') {

		    // The rest of this code assumes you are not using a library.
		    // It can be made less wordy if you use one.
		    const form = document.createElement('form');
		    form.method = method;
		    form.action = path;

		    for (const key in params) {
		      if (params.hasOwnProperty(key)) {
		        const hiddenField = document.createElement('input');
		        hiddenField.type = 'hidden';
		        hiddenField.name = key;
		        hiddenField.value = params[key];

		        form.appendChild(hiddenField);
		      }
		    }

		    document.body.appendChild(form);
		    form.submit();
		  }

		</script>
	</body>
</html>
